
 {% extends "layout.html" %}
{% block content %}
<div class ="container">
    <div class="row">
        <div class="col-md-6"><img src="static/images/logostatua.jpg"  width="100%" height="325px"  ></div>
        <div class="col-md-6"><h1 align="center">The Future<br> is <br>Now</h1></div>
    </div>
    <div class="row">
         <div class="col-md-8">
             <h2 align="center">My Program</h2>
             <p>My Program is to invest the donations to improve the New York' Citizen life and decrease the cost of
                 the politic and the poverty, minimize the cost of the  officialism  and improve
                 the research of the University and School(libraries,books,Tecnologic).My First Thoughts are for
                 Homeless and Social Care.Human Rights are the most important battles of my Campaign Election.
             </p>
         </div>
          <div class="col-md-4"><img src="static/images/voteme.jpg" width="55%"></div>
    </div>
    <div class="row">
    <div class="col-md-12"><h2 align="center">My Challenges</h2></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>The Investments</b></div>
                <div class="panel-body"><p>
                    <p><b>I will invest the donations to improve the quality of the school for each borough.</b>
            I will help the job centre that  provides information to organizations which helps to determine
            which employee best fit for specific jobs.
            Helping individuals develop their careers, and also for
            organizations develop their employees in order to maximize talent.
                <b>This Pie Chart will explain the  donations investments of my job program in the next 5 years.</b>
        </p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-6">
         <div class="chart-wrapper">
               <div class="chart-title">
                   Investments Donations
               </div>                                         <!-- Investments Chart -->
               <div class="chart-stage">
                   <div id="resource-type-pie-chart"></div>
               </div>
           </div>
        </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b>The  Education</b></div>
                <div class="panel-body">
                    <p><b>I will invest the donations to have more Art Centre ,libraries, Public School.Music Hall.</b>
                          <br>A multi-use performance space that is intended for use by
                          various types of the performing arts,
                          including dance, music and theatre.</p>
                                    </div>
            </div>
        <hr>
            </div>

        <div class="col-md-6">
              <div class="chart-wrapper">
                       <div class="chart-title">
                           School Education                     <!-- School Education Chart -->
                       <div class="chart-stage">
                           <div id="primary_focus_area_chart"></div>
                       </div>
                   </div>

                   </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
               <div class="panel panel-default">
                   <div class="panel-heading"><b>The  Grades</b></div>
                                 <div class="panel-body">
                                   <p>Quality of life  observes life satisfaction,<br>
                                       including everything from physical health, family, education, <br>employment, wealth,
                                religious beliefs, finance and the environment.<br>
            <b>This  Pie Chart describes the situation of  Quality of Life program.</b>
            </p>

                              </div>
                               </div>

        </div>
                   <div class="col-md-6">
                      <div class="chart-wrapper">
                          <div class="chart-title">
                             Quality of Life
                           </div>                          <!-- Quatity Chart -->
                         <div class="chart-stage">
                            <div id="grade-type-pie-chart"></div>
                          </div>
                         </div>
                   </div>
    </div>


            <footer class="col-12">
                <p>Copyright</p>
                    <p>@Scollo Francesco New York 1965/2017</p>
           </footer>



{% endblock %}
