
    {% extends "layout.html" %}
{% block content %}
<div class = 'container'>
<div class="row">
           <div class="col-md-6"><img src="static/images/logostatua.jpg"  width="100%" height="325px"  ></div>
           <div class="col-md-6"><img src="static/images/pol.png"  width="100%" height="325px"   ></div>
          </div>
<div class="row">
    <div class="col-md-6">
     <h1>Mr Scollo Francesco</h1></br>
            <div class="panel panel-default">
                  <div class="panel-heading">Lack of Funding</div>
                  <div class="panel-body"><p>
          Sources of funding include credit, venture capital, donations, grants, savings,
         subsidies, and taxes.
         <b>The Lack of Funding missed in the Education and the School Sector in  each New York's Borough : Brooklyn,
             Bronx ,Queen, Manhattan,Staten Island.</b>
         It focuses on causal links among four elements: social exclusion, poverty, exits from poverty and
         overall processes that generate inequality among social categories.
         Political programmes to address political interests are required.
                      <b>The LineChart and BarChart describe the Situation .</b>
                  </p></div>

    </div>
    </div>

    <div class="col-md-6">
        <h2>The poverty chart</h2>
        <div class="chart-wrapper">
               <div class="chart-title">     <!-- Poverty Chart -->
                  Poverty Chart
               </div>
               <div class="chart-stage">
                   <div id="poverty-type-pie-chart"></div>
               </div>
    </div>
    </div>

</div>
    <div class="row">
    <div class="col-md-12">
            <div class="chart-wrapper">
              <div class="chart-title">           <!-- Donations Borough Chart -->
                The  Donations
              </div>
              <div class="chart-stage">
                <div id="time-chart" style="width: 100%"></div>
              </div>
            </div>

    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                The Total  Donations  New York          <!-- Total Donations Chart -->
              </div>
              <div class="chart-stage">
                <div id="york-Chart"></div>
              </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>The Poverty </h2>
            <div class="panel panel-default">
                  <div class="panel-heading">The Poverty</div>
                <div class="panel-body"><p>
                    The political, economic and social impacts on organised exclusion from such benefits are significant.
                <b>The  investments of the donations in economic growth may well produce collective exits from poverty.
                    A Lack of Funding will produce the high poverty and consequence of school and education.</b>
                In the short- and medium-term, it  will commonly increase inequality and therefore the relative deprivation of the very poor.
                Existing political arrangements usually reinforce these forms of exclusion.
                The Bar Chart Line Chart and Pie Chart describes the situation in the last years.
                </p>
          </div>

    </div>

        </div>
        <div class="col-md-6">
            <h2> The Illiteracy</h2>
              <div class="panel panel-default">
                  <div class="panel-heading">The Illiteracy</div>
                <div class="panel-body"><p>
                    Functional illiteracy is reading and writing skills that are inadequate
                    "to manage daily living and employment tasks that require reading skills beyond a basic level".
                    Functional illiteracy is contrasted with illiteracy in the strict sense,
                    meaning the inability to read or write simple sentences in any language.
                    <b>A Lack of Funding will produce the high level illiteracy and consequence of school and education.</b>
                </div>
              </div>

          </div>
        </div>
        </div>
    </div>
            <footer class="col-12">
                <p>Copyright</p>
                <p>@Scollo Francesco New York 1965/2017</p>

			   				 </footer>
{% endblock %}
   

